<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="foot_header.css">
    <link rel="stylesheet" href="styles.fd4623c99fb6551abecb.css">
    <script src="https://kit.fontawesome.com/c6e650f495.js" crossorigin="anonymous"></script>
    <title>Homebank</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="header">
                <div class="nav nav-left" >
                    <h1>h<span id="dif-o">o</span>mebank</h1>
                </div>
                <div class="nav nav-right">
                    <ul>
                        <li class="login"><a href="login.html">Вход</a></li>
                        <li class="ru">
                            <a class="lang">Ру  <i class="fas fa-caret-down"></i></a>
                            <div class="dropdown_lang">
                                <ul>
                                    <li><a href="">Ру</a></li>
                                    <li><a href="">En</a></li>
                                    <li><a href="">Ққ</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
        

    <img src="mainpg.png">
    
    <h1 style="text-align: center; margin-top: 30px;
    font-size: 200%;
    color: rgb(0, 0, 0);
    font-family: Segoe UI Semibold,wf_segoe-ui_semibold,wf_segoe-ui_normal,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;"> Бесплатная мгновенная цифровая карта в подарок!</h1>

    <h2 style="text-align: center;
    font-size: 120%;
    color: rgb(0, 0, 0);
    font-family: Segoe UI Semibold,wf_segoe-ui_semibold,wf_segoe-ui_normal,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;"> Идеальное решение для онлайн платежей и переводов с повышенной <br> безопасностью.</h2>

    <div class="column" style="background-color: white; height:100%; ">
        
        <img style="margin-left: 500px;margin-top: 100px;" src="halyk-bonus-digital-home.png">
    </div>
    <div class="column" style="background-color: white; height: 474px;">
        <img style="margin-left: 0px;margin-top: 100px;" src="121.png">
        
    </div>

    <a href="#" class="button7"   >Подробнее о карте</a>


    <div class="column" style="background-color: #61f1fb; height:474px; margin-top: 49px;">
        
        <img style="margin-left: 300px;margin-top: 0px; height: 100%;" src="1212.png">
    </div>
    <div class="column" style="background-color: #61f1fb; height: 474px; margin-top: 31px;">
        <h1 style="margin-top: 160px; margin-left: 30px;
    font-size: 200%;
    color: rgb(255, 255, 255);
    font-family: Segoe UI Semibold,wf_segoe-ui_semibold,wf_segoe-ui_normal,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;"> Безналичные переводы и <br> обналичивание</h1>

<h1 style=" margin-left: 30px;
font-size: 130%;
color: rgb(255, 255, 255);
font-family: Segoe UI Semibold,wf_segoe-ui_semibold,wf_segoe-ui_normal,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;"> Переводы в различных направлениях</h1>
        
    </div>


    <div class="column" style="background-color: #ffffff; height:474px; margin-top: 30px;">
        
        <h2 style=" margin-left: 400px; margin-bottom: 50px;
font-size: 200%;
color: rgb(0, 0, 0);
font-family: Segoe UI Semibold,wf_segoe-ui_semibold,wf_segoe-ui_normal,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;"> Оплачивайте покупки и <br>зарабатывайте Go! Бонусы</h1>
<a href="#" class="button8 " style="margin-left: 400px;"  >Магазины партнеры</a>
        
    </div>
    </div>
    <div class="column" style="background-color: #ffffff; height: 474px; margin-top: 30px;">
        <img style="margin-left: 0px;margin-top: 0px; height: 100%;" src="1213.png">
        
    </div>


    <div style="background-color: rgb(247, 247, 247);margin-top: 1040px; height: 140px;">
        <h2 style="text-align: center; 
font-size: 200%;
color: rgb(0, 0, 0);
font-family: Segoe UI Semibold,wf_segoe-ui_semibold,wf_segoe-ui_normal,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;"> Более 6000 платежей без комиссий</h2>

        <h2 style="text-align: center;
        font-size: 130%;
        color: rgb(0, 0, 0);
        font-family: Segoe UI Semibold,wf_segoe-ui_semibold,wf_segoe-ui_normal,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;"> Оплачивайте картами любых банков РК</h2>

    </div>







        <footer class="footer">
            <div class="footer-top">
                <div class="homebank-on-phone">
                    <h4 >Homebank в вашем смарфоне</h4>
                    <img src="https://cdn.homebank.kz/assets/icons/others/google-play.svg">
                    <img src="https://cdn.homebank.kz/assets/icons/others/app-store.svg">
                </div>
                <div class="call-center">
                    <h4>Контакст-центр</h4>
                    <h2>7111</h2>
                </div>
            </div>
            <div class="footer-middle">
                <h4>Условия</h4>
                <a href="#">Договор использования услуг Homebank</a>
                <a href="#">Безопастность</a>
            </div>
            <div class="footer-btm">
                <div class="footer-img-inf">
                    <img src="https://cdn.homebank.kz/assets/svg/halykbank-logo.svg" width="200px">
                    <p>Лицензия на проведение банковских и иных операций и деятельности
                         на рынке ценных бумаг № 1.2.47/230/38/1 от 3 февраля 2020 года<br>
                        © 2000 — 2022 АО «Народный Банк Казахстана»
                    </p>
                </div>
                <div class="link-icons">
                    <img src="https://cdn.homebank.kz/assets/icons/others/facebook.svg">
                    <img src="https://cdn.homebank.kz/assets/icons/others/vk.svg">
                    <img src="https://cdn.homebank.kz/assets/icons/others/twitter.svg">
                    <img src="https://cdn.homebank.kz/assets/icons/others/instagram.svg">
                    <img src="https://cdn.homebank.kz/assets/icons/others/youtube.svg">
                </div>
            </div>
        </footer>
    </div>
</body>
<script>


</script>
</html>