<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main_page.css">
    <link rel="stylesheet" type="text/css" href="market.css">
    <link rel="stylesheet" href="styles.fd4623c99fb6551abecb.css">
    <script src="https://kit.fontawesome.com/c6e650f495.js" crossorigin="anonymous"></script>
    <title>Homebank</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="header">
                <div class="nav nav-left" >
                    <h1>h<span id="dif-o">o</span>mebank</h1>
                    <ul id="nav-left">
                        <li><a class=" active" href="#">Главная</a></li>
                        <li><a href="payments.html">Платежи</a></li>
                        <li><a href="transfer.html">Переводы</a></li>
                        <li><a href="market.html">Продукты</a></li>
                        <li><a href="#">Услуги</a></li>
                    </ul>
                </div>
                <div class="nav nav-right">
                    <h1>Имя</h1>
                    <ul>
                        <li><a><i class="fa-solid fa-bell"></i></a></li>
                        <li><a><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
                        <li>
                            <a class="lang">Ру  <i class="fas fa-caret-down"></i></a>
                            <div class="dropdown_lang">
                                <ul>
                                    <li><a href="">Ру</a></li>
                                    <li><a href="">En</a></li>
                                    <li><a href="">Ққ</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="market-main">
            <div class="market-main-tool-bar">
                <img src="https://halykmarket.kz/_nuxt/30f70ea43b8383d02d9fade5c7f222d7.svg" width="250px">
                <label>
                    <input placeholder="Найти в Halyk Market">
                    <button>Найти</button>
                </label>
                <div class="izbrannoe">
                    <i class="fa-regular fa-heart"></i>
                    <a href="izbrannoe0.html"><span>Избранное</span></a>
                </div>
            </div>
            <div class="market-main-nav-bar">
                <ul>
                    <li class="category-nav"><i class="fa-sharp fa-solid fa-bars"></i><a style="color: white;">Категории</a></li>
                    <li><a href="#">Акции Halyk Market</a></li>
                    <li><a href="#">Телефоны и гаджеты</a></li>
                    <li><a href="#">Кухонная техника</a></li>
                    <li><a href="#">Спорт и отдых</a></li>
                    <li><a href="#">Мебель</a></li>
                    <li><a href="#">Телевизоры и аудиотехника</a></li>
                </ul>
            </div>
            <div class="aksia">
                <img src="https://cdn.halykmarket.kz/cmsstatic/components/5956/components-5956-market100.jpg?mobileProductRegularThumbnail" width="600px">
                <img src="https://cdn.halykmarket.kz/cmsstatic/components/5620/components-5620-promocode.jpg?mobileProductRegularThumbnail" width="600px">
            </div>
            <div class="market-main-category">
                <div class="category-list">
                    <a href="#">Кухонная техника</a>
                    <a href="#">Мебель</a>
                    <a href="#">Красота и здоровье</a>
                    <a href="#">Фото и видео</a>
                    <a href="#">Halyk Shop</a>
                    <a href="#">Украшения</a>
                    <a href="#">Ноутбуки и компьютеры</a>
                    <a href="#">Аксесуары</a>
                </div>
                <div class="category-list">
                    <a href="telefons.html">Телефоны и гаджеты</a>
                    <a href="#">Спорт и отдых</a>
                    <a href="#">Телевизоры и аудиотехника</a>
                    <a href="#">Товары для дома и дачи</a>
                    <a href="#">Аптека</a>
                    <a href="technica.html">Техника для дома</a>
                    <a href="#">Детские товары</a>
                    <a href="#">Автотовары</a>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-top">
                <div class="homebank-on-phone">
                    <h4 >Homebank в вашем смарфоне</h4>
                    <img src="https://cdn.homebank.kz/assets/icons/others/google-play.svg">
                    <img src="https://cdn.homebank.kz/assets/icons/others/app-store.svg">
                </div>
                <div class="call-center">
                    <h4>Контакст-центр</h4>
                    <h2>7111</h2>
                </div>
            </div>
            <div class="footer-middle">
                <h4>Условия</h4>
                <a href="#">Договор использования услуг Homebank</a>
                <a href="#">Безопастность</a>
            </div>
            <div class="footer-btm">
                <div class="footer-img-inf">
                    <img src="https://cdn.homebank.kz/assets/svg/halykbank-logo.svg" width="200px">
                    <p>Лицензия на проведение банковских и иных операций и деятельности
                         на рынке ценных бумаг № 1.2.47/230/38/1 от 3 февраля 2020 года<br>
                        © 2000 — 2022 АО «Народный Банк Казахстана»
                    </p>
                </div>
                <div class="link-icons">
                    <img src="https://cdn.homebank.kz/assets/icons/others/facebook.svg">
                    <img src="https://cdn.homebank.kz/assets/icons/others/vk.svg">
                    <img src="https://cdn.homebank.kz/assets/icons/others/twitter.svg">
                    <img src="https://cdn.homebank.kz/assets/icons/others/instagram.svg">
                    <img src="https://cdn.homebank.kz/assets/icons/others/youtube.svg">
                </div>
            </div>
        </footer>
    </div>
</body>
<script>
    let nav_left = document.getElementById("nav-left");
    let links = nav_left.getElementsByTagName("a");

    for(let i=0;i<links.length;i++){
        links[i].addEventListener('click', function(){
            let current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active");
            this.className += " active";
        })
    }


</script>
</html>