<head>
    <link rel="stylesheet" href="payments.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main_page.css">
    <link rel="stylesheet" href="styles.fd4623c99fb6551abecb.css">
    <script src="https://kit.fontawesome.com/c6e650f495.js" crossorigin="anonymous"></script>
    <title>Homebank</title>
    
</head>
<body>

  <div class="container">
    <header>
        <nav class="header">
            <div class="nav nav-left" >
                <h1>h<span id="dif-o">o</span>mebank</h1>
                <ul id="nav-left">
                  <li><a  href="#">Главная</a></li>
                  <li><a class=" active" href="payments.html">Платежи</a></li>
                  <li><a href="transfer.html">Переводы</a></li>
                  <li><a href="market.html">Продукты</a></li>
                  <li><a href="#">Услуги</a></li>
                </ul>
            </div>
            <div class="nav nav-right">
              <a href="profile.html"> <h1>Профиль</h1></a>
                <ul>
                    <li><a><i class="fa-solid fa-bell"></i></a></li>
                    <li><a><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
                    <li>
                        <a class="lang">Ру  <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown_lang">
                            <ul>
                                <li><a href="">Ру</a></li>
                                <li><a href="">En</a></li>
                                <li><a href="">Ққ</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>

<div style="padding-right: 10%;padding-left: 10%; padding-top: 3%">
    <h>Комиссия 0 тенге</h>
<br>

<div>

    <select style="margin-top: 0.4em;" name="user_profile_color_2" required="required" class="countries">
        <option value="">г. Алматы</option>
        <option value="1" > г. Астана</option>
        <option value="2">Алматинская обл.</option>
        <option value="3">Актюбинская обл.</option>
        <option value="4">Акмолинская обл.</option>
        <option value="5">Восточно-Казахстанская обл.</option>
        <option value="6">Жамбылская обл.</option>
        <option value="7">Западно-Казахстанская обл.</option>
        <option value="8">Атырауская обл.</option>
        <option value="9">Карагандинская обл.</option>
        <option value="10">Туркестанская обл.</option>
        <option value="11">Мангистауская обл.</option>
        <option value="12">Костанайская обл.</option>
        <option value="13">Павлодарская.</option>
      </select>

      
      <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Что хотите оплатить?" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>

</div>

<div class="wrapper" style="margin-top: 2em;">
    <a href=""><div class="parent"><div class="center"><i class="fa fa-mobile icon" aria-hidden="true"></i></div> <div class="center2">Мобильная <br>связь</div></div></a>
    <div class="parent"><div class="center"><i class="fa fa-phone icon" aria-hidden="true"></i></div>  <div class="center2">Городской <br>телефон</div></div>
    <div class="parent"><div class="center"><i class="fa fa-home icon" aria-hidden="true"></i></div>  <div class="center2">Коммунальные <br>услуги</div></div>
    <div class="parent"><div class="center"><i class="fa fa-gift icon" aria-hidden="true"></i></div>  <div class="center2">Благотворитель<br>ность</div></div>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-shield icon" aria-hidden="true"></i></div> <div class="center2">Охрана</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-car icon" aria-hidden="true"></i></i></div> <div class="center2">Штрафы, налоги</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-graduation-cap icon" aria-hidden="true"></i></div> <div class="center2">Образование</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-globe icon" aria-hidden="true"></i></div> <div class="center2">Интернет, тв</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-bus icon" aria-hidden="true"></i></div> <div class="center2">Транспорт</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-money icon" aria-hidden="true"></i></div> <div class="center2">Финансовые услуги</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-futbol-o icon"></i></div> <div class="center2">Спорт, туризм</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-credit-card icon" aria-hidden="true"></i></div> <div class="center2">Онлайн сервися</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-gamepad icon" aria-hidden="true"></i></div> <div class="center2">Онлайн игры</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-shopping-cart icon" aria-hidden="true"></i></div> <div class="center2">Покупуи</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-university icon" aria-hidden="true"></i></div> <div class="center2">Вузы</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-child icon" aria-hidden="true"></i></div> <div class="center2">Детские сады</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-building-o icon" aria-hidden="true"></i></div> <div class="center2">КСК/ОСИ</div></div></a>
    <a href=""><div class="parent"><div class="center"><i class="fa fa-briefcase icon" aria-hidden="true"></i></div> <div class="center2">Самозанятым</div></div></a>
    
  </div>


  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">Избранные</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Архив платежей</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Автооплата</button>
  </div>
  
  <div id="London" class="tabcontent">
  
    <p>У вас нет избранных платежей</p>
  </div>
  
  <div id="Paris" class="tabcontent">
  
    <p>Пусто</p> 
  </div>
  
  <div id="Tokyo" class="tabcontent">
  
    <p>У вас нет автооплат</p>
  </div>
</div>


<footer class="footer">
  <div class="footer-top">
      <div class="homebank-on-phone">
          <h4 >Homebank в вашем смарфоне</h4>
          <img src="https://cdn.homebank.kz/assets/icons/others/google-play.svg">
          <img src="https://cdn.homebank.kz/assets/icons/others/app-store.svg">
      </div>
      <div class="call-center">
          <h4>Контакст-центр</h4>
          <h2>7111</h2>
      </div>
  </div>
  <div class="footer-middle">
      <h4>Условия</h4>
      <a href="#">Договор использования услуг Homebank</a>
      <a href="#">Безопастность</a>
  </div>
  <div class="footer-btm">
      <div class="footer-img-inf">
          <img src="https://cdn.homebank.kz/assets/svg/halykbank-logo.svg" width="200px">
          <p>Лицензия на проведение банковских и иных операций и деятельности
               на рынке ценных бумаг № 1.2.47/230/38/1 от 3 февраля 2020 года<br>
              © 2000 — 2022 АО «Народный Банк Казахстана»
          </p>
      </div>
      <div class="link-icons">
          <img src="https://cdn.homebank.kz/assets/icons/others/facebook.svg">
          <img src="https://cdn.homebank.kz/assets/icons/others/vk.svg">
          <img src="https://cdn.homebank.kz/assets/icons/others/twitter.svg">
          <img src="https://cdn.homebank.kz/assets/icons/others/instagram.svg">
          <img src="https://cdn.homebank.kz/assets/icons/others/youtube.svg">
      </div>
  </div>
</footer>




</body>

<script>
  let nav_left = document.getElementById("nav-left");
  let links = nav_left.getElementsByTagName("a");

  for(let i=0;i<links.length;i++){
      links[i].addEventListener('click', function(){
          let current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active");
          this.className += " active";
      })
  }

  function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>