<head>
    <link rel="stylesheet" href="transfer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main_page.css">
    <link rel="stylesheet" href="styles.fd4623c99fb6551abecb.css">
    <script src="https://kit.fontawesome.com/c6e650f495.js" crossorigin="anonymous"></script>
    <title>Homebank</title>
</head>

<body>


    <div class="container">
        <header>
            <nav class="header">
                <div class="nav nav-left" >
                    <h1>h<span id="dif-o">o</span>mebank</h1>
                    <ul id="nav-left">
                        <li><a  href="main_page.html">Главная</a></li>
                        <li><a href="payments.html">Платежи</a></li>
                        <li><a class=" active" a href="transfer.html">Переводы</a></li>
                        <li><a href="market.html">Продукты</a></li>
                        <li><a href="#">Услуги</a></li>
                    </ul>
                </div>
                <div class="nav nav-right">
                    <a href="profile.html"> <h1>Профиль</h1></a>
                    <ul>
                        <li><a><i class="fa-solid fa-bell"></i></a></li>
                        <li><a><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
                        <li>
                            <a class="lang">Ру  <i class="fas fa-caret-down"></i></a>
                            <div class="dropdown_lang">
                                <ul>
                                    <li><a href="">Ру</a></li>
                                    <li><a href="">En</a></li>
                                    <li><a href="">Ққ</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>



    <div style="padding-right: 10%;padding-left: 10%; padding-top: 3%">

        <div style="margin-bottom: 5%;">
            <h2>Homebank - ваш центр переводов</h2>
            <p>Уникальные переводы Homebank теперь доступны без <br>регистрации<br>
                <br>Переводите по всем направлениям с самыми низкими тарифами</p>
        </div>


        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'transfer')">Переводы</button>
            <button class="tablinks" onclick="openCity(event, 'history')">Архив переводов</button>
        
          </div>
          
          <div id="transfer" class="tabcontent">
          
            <div class="wrapper" style="margin-top: 2em;">
                <a href=""><div class="parent"><div class="center"><i class="fa fa-credit-card-alt icon" aria-hidden="true"></i></div> <div class="center2"><p>С карты на карту любых банков РК</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-globe icon" aria-hidden="true"></i></div>  <div class="center2"><p>На зарубежную карту</p></div></div></a>
                <a><div class="parent"><div class="center"><i class="fa fa-terminal icon" aria-hidden="true"></i></div>  <div class="center2"><p>На банкомат</p></div></div></a>
                <a><div class="parent"><div class="center"><i class="fa fa-mobile icon" aria-hidden="true"></i></div>  <div class="center2">
                    <p>На карту по мобильному номеру</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-users icon" aria-hidden="true"></i></div> <div class="center2"><p>Перевод 3-им лицам по номеру счёта получателя</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-google-wallet icon" aria-hidden="true"></i></i></div> <div class="center2"><p>Western Union отправка перевода</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-mobile icon" aria-hidden="true"></i></div> <div class="center2"><p>По номеру телефона на карту</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-google-wallet icon" aria-hidden="true"></i></div> <div class="center2"><p>Western Union получение перевода</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-address-card icon" aria-hidden="true"></i></div> <div class="center2">
                   <p> Между своими картами</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-money icon" aria-hidden="true"></i></div> <div class="center2">
                    <p>С карты на счёт</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-credit-card icon"></i></div> <div class="center2">
                    <p>Со счёта на карту</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-credit-card icon" aria-hidden="true"></i></div> <div class="center2">
                   <p> Снятие с Депозита</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-usd icon" aria-hidden="true"></i></div> <div class="center2">
                   <p> Пополнение Депозита</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-credit-card icon" aria-hidden="true"></i></div> <div class="center2">
                   <p> По счетам</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-credit-card icon" aria-hidden="true"></i></div> <div class="center2">
                    <p>По мультивалютной карте</p></div></div></a>
                <a href=""><div class="parent"><div class="center"><i class="fa fa-credit-card icon" aria-hidden="true"></i></div> <div class="center2">
                    <p>По мультивалютному депозиту</p></div></div></a>
            
                
              </div>
          </div>
          
          <div id="history" class="tabcontent">
          
            <p>Пусто</p> 
          </div>
        
         
    </div>

   
    <footer class="footer">
        <div class="footer-top">
            <div class="homebank-on-phone">
                <h4 >Homebank в вашем смарфоне</h4>
                <img src="https://cdn.homebank.kz/assets/icons/others/google-play.svg">
                <img src="https://cdn.homebank.kz/assets/icons/others/app-store.svg">
            </div>
            <div class="call-center">
                <h4>Контакст-центр</h4>
                <h2>7111</h2>
            </div>
        </div>
        <div class="footer-middle">
            <h4>Условия</h4>
            <a href="#">Договор использования услуг Homebank</a>
            <a href="#">Безопастность</a>
        </div>
        <div class="footer-btm">
            <div class="footer-img-inf">
                <img src="https://cdn.homebank.kz/assets/svg/halykbank-logo.svg" width="200px">
                <p>Лицензия на проведение банковских и иных операций и деятельности
                     на рынке ценных бумаг № 1.2.47/230/38/1 от 3 февраля 2020 года<br>
                    © 2000 — 2022 АО «Народный Банк Казахстана»
                </p>
            </div>
            <div class="link-icons">
                <img src="https://cdn.homebank.kz/assets/icons/others/facebook.svg">
                <img src="https://cdn.homebank.kz/assets/icons/others/vk.svg">
                <img src="https://cdn.homebank.kz/assets/icons/others/twitter.svg">
                <img src="https://cdn.homebank.kz/assets/icons/others/instagram.svg">
                <img src="https://cdn.homebank.kz/assets/icons/others/youtube.svg">
            </div>
        </div>
    </footer>





    

</body>



  <script>
let nav_left = document.getElementById("nav-left");
  let links = nav_left.getElementsByTagName("a");

  for(let i=0;i<links.length;i++){
      links[i].addEventListener('click', function(){
          let current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active");
          this.className += " active";
      })
  }


    function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
  </script>